COMPOSE_PROJECT_NAME=shop

GATEWAY_PORT=8080
DB_PORT=3306

APP_TIMEZONE=Asia/Krasnoyarsk

# Конфигурация MySQL (Docker-сервис db)
DB_NAME=shop
DB_USER=shop
DB_PASSWORD=shop

DATABASE_URL=mysql://%DB_USER%:%DB_PASSWORD%@127.0.0.1:%DB_PORT%/%DB_NAME%

PATH_BACKEND=./admin/backend
PATH_FRONTEND=./admin/frontend

FILE_ENV_BACKEND=./admin/backend/.env
